#passwordValidationDisplayContainer {
	margin-top: 5px;
	width: 100%;
	&> div {
		width: 100%;
		height: 2px;
		position: relative;
		background-color: rgb(223, 225, 230);
		&::before {
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			transition: 0.2s ease-out;
			content: "";
		}
	}
	& .red::before {
		width: 20%;
		background: rgb(191, 38, 0);
	}
	& .orange::before {
		width: 39%;
		background: rgb(255, 86, 48);
	}
	& .yellow::before {
		width: 60%;
		background: rgb(255, 171, 0);
	}
	& .green::before {
		width: 80%;
		background: rgb(54, 179, 126);
	}
	& .darkGreen::before {
		width: 100%;
		background: rgb(0, 135, 90);
	}
	& .ticks {
		border-left: 5px solid white;
		border-right: 5px solid white;
		inset: 0px 19%;
		position: absolute;
		&::after {
			border-left: 5px solid white;
			border-right: 5px solid white;
			inset: 0px 30%;
			content: "";
			position: absolute;
		}
	}
}