th {
	text-align: left;
	&:last-of-type {
		text-align: right;
	}
}
tr {
	height: 3pc;
}

tr > td:last-child {
	text-align: right;
}

tbody {
}

.starContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	& > svg {
		height: 24px;
		width: 24px;
	}
}

table {
	width: 100%;
	vertical-align: middle;
	border-collapse: collapse;
}
thead, tbody, tfoot {
	border-bottom: 2px solid #091E4224;
}
th:nth-of-type(3) {
	width: 19rem;
}

th:last-of-type, td:last-of-type {
	padding: 4px 8px;
}
.leadName {
	vertical-align: middle;
	margin: 2px;
}
td:first-of-type {
	width: 24px;
	height: 24px;
}