.collapseButton {
	background-color: white;
	border: none;
	padding: 0px;
	& svg {
		width: 16px;
		transform: rotate(90deg);
		transition: all 0.15s;
	}
	&.collapsed svg {
		transform: rotate(0deg);
		transition: all 0.15s;
	}
}
.titleButton {
	background-color: white;
	border: none;
	text-align: left;
	padding-top: 0px;
}

.kanbanHeader {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	margin: 8px;
}