:root {
	overflow: hidden;
}

.auth-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#bg-container-1, #bg-container-2, #bg-container-3{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	z-index: -100;
	
}
#bg-container-1 {
	height: 100%;
	top: 0px;
	left: 0px;
	transition: visibility 0s 0.75s, opacity 0.75s;
	visibility: visible;
	opacity: 1;
	&.transparent{
		visibility: hidden;
		opacity: 0;
	}
}
#bg-container-2 {
	bottom: 0px;
	width: 360px;
	left: calc(-1 * 100vw / 2);
	transition: left 1s 0.75s;
	&.visible {
		left: 0px;
	}
	& svg {
		position: absolute;
		bottom: 0px;
	}
}

#bg-container-3 {
	bottom: 0px;
	width: 360px;
	left: unset;
	right: calc(-1 * 100vw / 2);
	transition: right 1s 0.75s;
	&.visible {
		right: 0px;
	}
	& svg {
		position: absolute;
		bottom: 0px;
	}
}