@import './styles/index.css';

:root {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0px;
	height: 100vh;
}
body {
	margin: 0px;
	height: 100%;
}
#root {
	height: 100%;
}
.modalContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: #091E427D;
	z-index: 500;
}

