#kanbanHeader {
	display: flex;
	flex-direction: row;

	& .headerCard {
		width: 33%;
		margin: 0px 6px;
	}
}
#kanbanBody {
	overflow-y: scroll;
	max-height: 85vh;
}
.epicCreationButton {
	font-size: 14px;
	background-color: #f7f8f9;
	border: none;
	width: calc(100% - 10px);
	margin: 4px 5px;
	height: 5vh;
	&::before {
		content: 'ï¼‹';
		font-weight: 600;
		margin-right: 3px
	}
	&:hover {
		background-color: #f0f1f2;
	}
}

.createEpicForm {
	width: calc(100% - 10px);
	font-size: 14px;
	border: none;
	background-color: #f7f8f9;
	margin: 4px 5px;
	height: 5vh;
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	box-shadow: none;
	& > * {
		flex-grow: 1;
	}
	& input {
		background: white;
		border: none;
		height: 2.28571em;
		margin-right: 8px;
		border-radius: 3px;
	}
}